<div class="container" id = "login">
Log in, now
<form action="/" method="POST">
  <input id="email" type="email" name="login[email]" placeholder="Email"><br>
  <input id="password" type="password" name="login[password]" placeholder="Password"><br>
  <input id="submit" type="submit" label="click">
</form>
</div>

<div class="container" id = "new">
Sign up, now
<form id = "new" action="/new-user" method="POST">
  <input id="name" type="text" name="new[name]" placeholder="Name"><br>
  <input id="email" type="email" name="new[email]" placeholder="Email"><br>
  <input id="password" type="password" name="new[password]" placeholder="Password"><br>
  <input id="submit" type="submit" label="click">
</form>
</div>

